.cart-item{
  display: flex;
  flex-direction: row;
  margin: 5px 0;
  line-height: 5px;

  img{
    height: 90px;
    width: 80px;
  }

  .footer{
    margin: 0 0 0 15px;
  }
  h3{
    .decreaseQuantity,.increaseQuantity{
      margin: 5px;
    }

    .itemQuantity{
      width: 30px;
    }


  }

  span{
    cursor: pointer;
  }
}